<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="shopstop.grocerylist">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme">

        <activity
            android:name=".MainSearch"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScannerResults"
            android:label="@string/title_activity_scanner_results" >
        </activity>
        <activity
            android:name=".AddItem"
            android:label="@string/title_activity_add_item" >
        </activity>
        <activity
            android:name=".ItemPage"
            android:label="@string/title_activity_item_page" >
        </activity>
        <activity
            android:name=".SearchResults"
            android:label="@string/title_activity_search_results" >
        </activity>
        <activity
            android:name=".StoreResults"
            android:label="@string/title_activity_store_results" >
        </activity>
    </application>

</manifest>
